@import '../../components/variables.scss';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.news {
  padding: 0;
}

.author {
  margin-bottom: 5px;
}

.newsContainer {
  max-width: 600px;
}

.newsItem {
  list-style-type: none;
  padding-bottom: 50px;
}

.title {
  text-align: center;
  font-weight: 700;
}

.newsTitle {
  font-size: 2.125em;
}

.newsTitle, .newsDesc {
  display: block;
}
